<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Clash Royale Wordle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{{body}}}
    <script src="/js/main.js"></script>
</body>
</html> 